@use '../variables.scss' as v;

@mixin cart-icon(){
    .amount-container{
        .cart-icon{
            font-size: 2.3rem;
            path{
                stroke: v.$header-color;
                stroke-width: 1;
            }
        }

        .badge{
            background-color: v.$badge-bg-color;
            color: v.$header-color;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
            border-radius: 10px;
            font-size: 1rem;
        }
    }
}