// Fonts
$main-font: 'Fira Sans', sans-serif;

// Colors
$header-bg-color: #1653e0;
$header-color: #ffffff;
$badge-bg-color: #868686;

// Cart container
$cart-header-bg-color: #4676e7;
$cart-header-text-color: #ffffff;
$cart-price-color: #1b488f;
$cart-remove-item-btn-color: #52337e;
$cart-remove-item-btn-color-hover: #7e3351;
$cart-amount-btn-color: #402760;
$cart-clear-btn-bg: #ffe6ff;
$cart-clear-btn-color: #dc1c50;
$cart-empty-color: #334d8a;

// Modal
$modal-bg: #fff;
$modal-btn-confirm-bg: #c0fbc0;
$modal-btn-confirm-text: #4c8b4c;
$modal-btn-cancel-bg: #fbc0e8;
$modal-btn-cancel-text: #8a4872;